<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <title>Mission to Mars</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4 justify=content-center">Mission to Mars</h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
        
        <h2 style="font-weight: bold">Latest Mars News</h2>
        <h4>{{ mars.title }}</h4>
        <h5>{{ mars.paragraph }}</h5>
    

        <div class="row">
          <div class="col-md-6">
            <h3 style="font-weight: bold">Featured Mars Image</h3>
            <img src="{{ mars.image }}" alt="Featured Mars Image" width="575" height="600">
          </div>
          
          <div class="col-md-6">
            <h5 style="font-weight: bold">Mars Facts</h5>
            <p class="card-text"id="dark-font" >{{ mars.facts_table | safe }}</p>
          </div>
        </div>

        <h2 style="font-weight: bold">Mars Hemispheres</h2>
        {% for item in mars.hemispheres %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <img src="{{ item.href }}" width="575" height="600">
                  </div>
                </div>
            </div>
        {% endfor %}

      </div>
</body>
</html>
